
body{
	background-color: #85a5d4;
	font-family: 'Roboto';
 }

 .items{
 	display: flex;
 	flex-wrap:wrap;
 	margin:20% 10%;
 	vertical-align: center;
 	padding: 2.5% 5%;
 	background-color: white;
 	width: 70%;
 	height:100%;
	box-shadow: 0px 6px 20px 2px #6e6e6ecc;
	border-radius: 5px;

 }
 .items .item{
 	margin: 0% 5%;
 	flex-grow:1;
 	background-color: white;
 	flex-basis:10%;
   /* width: 25%;*/
    text-align: center;
    cursor: pointer;
 }
 	.items .item img{
    	height: 80px;
 	}
	.items .item h2{
		margin-top: 20px;
		color: #5572d6;
		text-transform: uppercase;
		letter-spacing: 3px;
    	font-weight: 700;
		font-size: 16px;
	}
	.items .item p{
		color: #a7a7a7;
		font-size: 12px;
		line-height: 1.5;
	}
	.items .item p:last-child{
		color: #5572d6;
		font-weight: 400;
		letter-spacing: 1px;
		/*font-size: 16px;*/
	}
	.items .item .currency{
		vertical-align: super;
		font-weight: 700;
	}
	.items .item .number{
		font-size: 28px;
		font-weight: 700;
	}
 